* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    position: relative;
    top: 100px;
}

.container {
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-bottom: 130px;
}
.content h1 {
    font-size: 36px;
    color: #ff5a5f;
}

.content p {
    color: #444;
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.6;
}

.wait {
    margin-top: 30px;
    font-size: 16px;
    color: #777;
}

.wait p {
    margin-top: 10px;
}

.back-button {
    margin-top: 40px;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #e04e53;
}
@media (max-width:1092px) {
    .main
    {
        top: 170px;
    }
    .container
    {
        margin-bottom: 200px;
    }
}
@media (max-width:992px) {
    .main
    {
        top: 230px;
    }
    .container
    {
        margin-bottom: 260px;
    }
}