<% layout('Layouts/BoilerPlate.ejs') %>
<% title = "Anti-discrimination" %>
<% style = "/css/anti.css" %>

<div class="main">
<header class="header">
  <h1 class="main-heading">Nestly Anti-Discrimination</h1>
</header>

<main class="main-container">
  <section class="section">
    <h2 class="section-title">Our Commitment</h2>
    <p class="section-text">
      We are committed to creating a space where everyone can belong, and discrimination has no place in our community. Our Nondiscrimination Policy ensures that no one is treated differently or excluded based on personal characteristics.
    </p>
  </section>

  <section class="section">
    <h2 class="section-title">Protected Characteristics</h2>
    <ul class="list">
      <li>Race</li>
      <li>Religion</li>
      <li>Gender</li>
      <li>Age</li>
      <li>Disability</li>
      <li>Familial status (having children)</li>
      <li>Marital status (being married or not)</li>
      <li>Ethnicity</li>
      <li>National origin</li>
      <li>Sexual orientation</li>
      <li>Sex</li>
      <li>Gender identity</li>
      <li>Caste</li>
      <li>Pregnancy and related medical conditions</li>
    </ul>
  </section>

  <section class="section">
    <h2 class="section-title">Prohibited Actions</h2>
    <p class="section-text">
      Users may not:
    </p>
    <ul class="list">
      <li>Decline or cancel a booking based on protected characteristics.</li>
      <li>Impose different terms, conditions, or house rules based on protected characteristics.</li>
      <li>Indicate a preference for or against a specific type of guest.</li>
    </ul>
  </section>

  <section class="section">
    <h2 class="section-title">Reporting Discrimination</h2>
    <p class="section-text">
      If you experience or witness discrimination, please report it. We take these matters seriously and will investigate all claims to ensure our community is welcoming to everyone.
    </p>
  </section>

  <section class="section">
    <h2 class="section-title">Learn More</h2>
    <p class="section-text">
      For more information, please contact us on email .
    </p>
  </section>
</main>
</div>
